/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}

hr{
  border: none;
  height: 1px;
  background-color: hsla(0, 0%, 69%, 0.3);
}

#favorite-stories,
#own-stories{
  list-style: none;
}

/* Individual stories */

.story-link {
  color: black;
  font-size: 0.95rem;
  font-weight: normal;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  
  color: hsla(108, 100%, 30%, 1);
  display: block;
  padding: 2px ;
  font-size: .90rem;
}

.story-user {
  display: block;
 
  color: hsla(24, 100%, 60%, 1);
  font-size: .9rem;
  padding: 2px;

}

.story-unmarked::before{
  content: "\2606";
 }

.story-marked::before{
  content: "\2605";
  
}

.star{
  cursor: pointer;
  font-size: 1.2rem; 
}
.star:hover{
  color:yellow;
  text-shadow: black 1px 1px 1px;
}

.removeButton:before{
  content: "\2716";
  position: relative;
  font-size: 1rem; 
  cursor: pointer;
  }
  .removeButton:hover{
    color: red;
  }